data/recetas.xsd

<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">
    <xs:element name="saga">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="receta" maxOccurs="unbounded">
                    <xs:complexType>
                        <xs:sequence>
                            <xs:element name="nombre" type="xs:string"/>
                            <xs:element name="categoria" type="xs:string"/>
                            <xs:element name="tiempo" type="xs:int"/>
                            <xs:element name="dificultad" type="xs:string"/>
                        </xs:sequence>
                        <xs:element name="codigo" type="required"/>
                    </xs:complexType>
                </xs:element>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
</xs:schema>







